
CSWClient/bin/Debug/CSWClient.dll
CSWClient/bin/Debug/CSWClient.dll.config
CSWClient/bin/Debug/CSWClient.pdb
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
obj/